<div>
  <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong [innerHTML] = "errorMsg"></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="vh-120 d-flex justify-content-center align-items-center m-5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" (ngSubmit)="onFormSubmit()" [formGroup]="loginForm">
                <h2 class="fw-bold mb-2 text-uppercase ">Login</h2>
                <p class=" mb-5">Please enter your username and password !</p>
                <div class="mb-3">
                  <label for="username" class="form-label ">Username</label>
                  <input type="text" class="form-control" id="username" formControlName="username">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label ">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="*******" formControlName="password">
                </div>
                <div class="mb-3">
                  <label for="login2fa" class="form-label ">Google Authenticator Verification Code</label>
                  <input type="text" class="form-control" id="login2fa">
                </div>
                <p class="small"><a class="text-primary" [routerLink]="['/forget-password']">Forgot password?</a></p>
                <div class="d-grid">
                  <button class="btn btn-outline-dark" type="submit">Login</button>
                </div>
              </form>
              <div>
                <p class="mb-0  text-center">Don't have an account? <a [routerLink]="['/registration']" class="text-primary fw-bold">Sign Up</a></p>
              </div>

              <hr class="my-4">
              <div class="mb-3">
                  <label class="form-label "> Current Locale :</label>
              </div>
              <div class="row">
                  <div class="col-md-3 mb-2">
                      <div class="mb-1">
                          <button class="btn btn-lg btn-block btn-primary" style="background-color: #5052af;"
                              type="submit">Sign up</button>
                      </div>
                  </div>
                  <div class="col-md-5 mb-2">
                      <div class="mb-1">
                          <button class="btn btn-lg btn-block btn-primary" style="background-color: #5052af;"
                              type="submit">Captcha signup</button>
                      </div>
                  </div>
                  <div class="col-md-6 mb-2">
                      <div class="mb-1">
                          <button class="btn btn-lg btn-block btn-primary" style="background-color: #5052af;"
                              type="submit">Recaptcha v3 signup</button>
                      </div>
                  </div>
                  <div class="col-md-3 mb-2">
                      <div class="mb-1">
                          <button class="btn btn-lg btn-block btn-primary" style="background-color: #5052af;"
                              type="submit">Reset</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>