<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot</title>
</head>
<body>
	<a th:href="@{/customer-list}">List Customer</a>
	<br />

	<h1>Edit Customer:</h1>
	<form th:action="@{/updateCustomer}" method="POST" th:object="${customer}">
		<table>
			<tr>
				<td>Id:</td>
				<td><input th:field="*{id}" readonly="readonly" style="background: #80808040"/></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input th:field="*{name}" /></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input th:field="*{address}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>