<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SpringBoot</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="container">
	<div>
		<h2>1. Demo Spring Boot Login with security</h2>
		<a th:href="@{/login1}">Login user</a><br />
		<a th:href="@{/login2}">Login admin</a>
		<br />
		<h2>2. Demo Spring Boot List Customer</h2>
		<a th:href="@{/customer-list}">List Customer</a>
		<br />
		<h2>3. Demo Spring Boot Download File</h2>
		<a href="download1">/downloadFile1</a>
		<br />
		<a href="download2">/downloadFile2</a>
		<br />
	</div>

	<div>
		<h2>4. Demo Spring Boot Upload File</h2>
		<form method="post" th:action="@{uploadFileDemo}" enctype="multipart/form-data" th:object="${myFile}">
			File: <input type="file" th:field="*{multipartFile}"><br><br>
			Description: <input type="text" th:field="*{description}"><br><br>
			<input type="submit" value="Upload">
		</form>
	</div>

	<div>
		<h2>5. Demo Spring Boot Query with JpaRepository</h2>
		<a href="jpaRepository">/JpaRepository</a>
		<br />
		<h2>6. Spring Boot JDBC</h2>
		<a href="springbootJdbc">/SpringBootJDBC</a>
		<br />
		<h2>7. Spring Boot Test API with CORS</h2>
		<a href="testRestAPICors">/TestAPICors</a>
		<br />
	</div>
</body>
</html>
