<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login userInfor MVC</title>
<style type="text/css">
.error{
	color: red;
}
</style>
</head>
<body>
	<div>
		<h2>Form Login to UserInfo MVC</h2>
		<h4 class="error" th:if="${param.error}">Bad Credentials</h4>

		<form th:action="@{/app/login}" method="post">
			<table>
				<tr>
					<td>Username:</td>
					<td><input type="text" name="app_username" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="app_password" /></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="submit" value="Submit"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
