<div class="home-container">
    <div class="container">
        <div class="graf-bg-container">
            <div class="graf-layout">
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
                <div class="graf-circle"></div>
            </div>
        </div>
        <h1 class="home-title">Spring Boot Angular OAuth2 Social Login Example</h1>
    </div>
</div>