<div>
  <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong [innerHTML] = "errorMsg"></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="vh-120 d-flex justify-content-center align-items-center m-5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" (ngSubmit)="onFormSubmit()" [formGroup]="regitrationForm">
                <h2 class="fw-bold mb-2 text-uppercase ">Registration</h2>
                <p class=" mb-5">Please enter info for registration</p>
                <div class="mb-3">
                  <label for="firstname" class="form-label ">First name</label>
                  <input type="text" class="form-control" id="firstname" formControlName="firstname">
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label ">Last name</label>
                  <input type="text" class="form-control" id="lastname" formControlName="lastname">
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label ">Username</label>
                  <input type="text" class="form-control" id="username" formControlName="username">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label ">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
                </div>
                <div class="mb-3">
                  <label for="birthdate" class="form-label ">Birth date</label>
                  <input type="date" class="form-control" id="birthdate" formControlName="birthdate"  placeholder="yyyy/mm/dd" >
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label ">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="*******" formControlName="password">
                </div>
                <div class="mb-3">
                  <label for="matchPassword" class="form-label ">Password confirm</label>
                  <input type="password" class="form-control" id="matchPassword" placeholder="*******" formControlName="matchPassword">
                </div>
                <div class="mb-3">
                  <input class="form-check-input" type="checkbox" value="false" id="isUsing2FA" checked  formControlName="isUsing2FA"/>
                  <label class="form-check-label" for="isUsing2FA">&nbsp;&nbsp;Use Two Step Verification</label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-outline-dark" type="submit">Submit</button>
                </div>
              </form>

              <div>
                <p class="mb-0  text-center">Have you an account? <a [routerLink]="['/login']" class="text-primary fw-bold">Login</a></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>